<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <uses-feature
        android:name="android.permission.CALL_PHONE"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_ishwari_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".admin.ManageVendorPaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UpdateAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageAdminsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManagePaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.OrderDetailsNotificationActvity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddVendorPriceVegetableWise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewVendorPriceVegetableWise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewQuantityVendorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VendorPriceCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewUserPriceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.SetUserPriceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.PriceTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddExistingVegetableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AllVegetablesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.UserMonthlyOrderDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VendorOrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewQuantityVegetableWise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.UserMonthlyBillsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.VendorMonthlyBillsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.BillCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddVegetableInEditOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ProfitHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.DailyProfitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.EditBillsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewFileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.DailyReceiptsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewPricesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.SetPricesActivty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewQuantityAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddToCartAdmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminPlaceOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddVegetableInOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.OrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.OrderDetailsAdminActvity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AdminProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageVendorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.UpdateVegetableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.UpdateHotelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.UpdateVendorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageHotelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddVendorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageVendorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ManageVegetableActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddVegetableActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admin.AddHotelActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admin.AdminDashboard"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".BluetoothDataService"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>